@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}  
   <div class="center_content">
       
               <h2>About Electronix</h2>

      <p style="font-size:20px">electronix.com is best way to discover new technologies related things around you ...to find out the rates and buy new things </p>
      <p style="font-size:20px" >You no need to go any shop and waste your time ...You can buy awsome things just by ONE CLICK </p>
   	  </div>

   